
  /* Style the header */
  header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  /* Style the footer */
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }

  .swatch-purple{
    color: #fff;
    background-color: purple;
  }

  .swatch-green{
    color: #fff;
    background-color: green;
  }

  .swatch-yellow{
    color: black;
    background-color: yellow;
  }

  .swatch-orange{
    color: black;
    background-color: orange;
  }

  .swatch-red{
    color: #fff;
    background-color: red;
  }